<div class='divider xs-12 topBarTrigger'></div>

<div class='post-wrap flexbox-contain column'>

  <!-- Tell people something unique about you... -->
  <h1 class='textCenter'>Le Chorégraphe</h1>
  <p class='big textCenter'><b class='accent'>Corentin Allano</b></p>

  <p>Débutant la danse à l'âge de 3 ans, Corentin Allano commence sa formation de danseur classique à l'âge de 5 ans et rejoint le Conservatoire de Grenoble en danse classique jusqu'à ses 15 ans.</p>
  <p>Il se forme ensuite auprès de Catherine Marchi en apprenant la dance-show et plus spécifiquement le French Cancan et la danse Cabaret, disciplines pour lesquelles il sera sacré vice-champion de France à 17 ans !</p>
  <br>
  <p>Avec la compagnie Sakadanse, il a notamment participé aux cérémonies d'ouverture et de clôture des festivals du film comique de l'Alpes d'Huez et d'Equidialpes aux côtés de la chanteuse américaine Jeane Manson.</p>
  <p>Depuis trois ans c’est avec plaisir et professionnalisme qu’il travaille aux côtés de Rébecca Vignon et du Masque Voice Studio en signant les chorégraphie de la Belle et la Bête, The Greatest Show et cette année Anastasia.</p>
  <!-- List you associated sites and social medias... -->
  <div class='flexbox-contain this justify-around icon-container'>
    <img class='social-media' src='{{ site.url }}/assets/img/icons/twitter.svg'>
    <img class='social-media' src='{{ site.url }}/assets/img/icons/behance.svg'>
    <img class='social-media' src='{{ site.url }}/assets/img/icons/facebook.svg'>
    <img class='social-media' src='{{ site.url }}/assets/img/icons/Github.svg'>
    <img class='social-media' src='{{ site.url }}/assets/img/icons/Google-Plus.svg'>
    <img class='social-media' src='{{ site.url }}/assets/img/icons/youtube.svg'>
  </div>
</div>