<h1 class='textCenter'>La Coach Vocale</h1>
<p class='big textCenter'><b class='accent'>Rébecca Vignon</b></p>

<p>Passionnée dès son plus jeune âge par la scène sous toutes ses formes, Rébecca commence la danse à 3 ans, le théâtre à 8 et le chant à 12 ans, 
âge auquel elle arrive à Grenoble. Son baccalauréat avec mention en poche, elle rejoint le cursus de
chant lyrique au CRR de Grenoble en parallèle de ses études de
lettres. Après sa licence, elle décide de partir étudier la
comédie musicale à Paris. Formée professionnellement en chant,
danse et théâtre, elle étudie également la technique vocale et la
pédagogie du chant auprès d’un professeur enseignant la pédagogie, Richard Cross.</p>
<p>De retour sur Grenoble et sûre de sa vocation de professeur de chant, 
elle retourne au CRR de Grenoble pour parfaire sa connaissance de l’instrument « voix ». 
Elle monte son activité de coach en technique vocale et en interprétation en 2019 où elle met 
un point d’honneur à transmettre son savoir avec précision,
passion et bienveillance.</p>
<p>Également spécialiste du théâtre musical, elle encadre régulièrement des stages de chant, d'interprétation et de comédie musicale sur le bassin grenoblois.</p>
<p>Elle enregistre actuellement un EP sur les
standards féminins de la comédie musicale et se
produit en concerts et lors d'événements un peu
partout en région Rhône-Alpes.</p>

<div style="text-align:center">
	<a href="https://www.instagram.com/lemasquevoicestudio"><img class='social-media' src='{{ site.url }}/assets/img/icons/instagram.svg'></a>
	<img class='social-media' src='{{ site.url }}/assets/img/icons/facebook.svg'>
	<img class='social-media' src='{{ site.url }}/assets/img/icons/youtube.svg'>
</div>
