<div class="xs-12 imgBack textCenter vertCenter grow short" style='background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1) ), url({{ site.url }}/assets/img/header_rouge.svg);background-color: #fbf4e4;min-height: 100px;'>
	<button id="toggle-button" class="toggle-button">
		<span class="bar"></span>
		<span class="bar"></span>
		<span class="bar"></span>
	</button>
	<div id="menu" class="slideout-menu slideout-closed">
		<div class="flexbox">
			<nav>
				<h4>Pages</h4>
				<a href="{{ site.url }}">Accueil</a>
				<a href="{{ site.url }}/bureau.html">Le Bureau de l'association</a>
				<a href="{{ site.url }}/da.html">La Direction Artistique</a>
				<a href="{{ site.url }}/about.html">A propos de nous</a>
				<a href="{{ site.url }}/actualites.html">Actualités</a>
				<h4>Actualités par catégorie</h4>
				<a href="{{ site.url }}/categories/asso.html">L'association</a>
				<a href="{{ site.url }}/categories/rouge.html">Rouge!</a>
				<h4>Archives des actualités</h4>
				<a href="{{ site.url }}/archives.html">Archives</a>
			</nav>
			<div class="details"><b>{{site.title}}</b><p>Bienvenue sur le site de l'association Le Masque Productions !</p>
			</div>
		</div>
	</div>
</div>