<div id="menu" class="slideout-menu slideout-closed">
	<div class="flexbox">
		<nav>
			<h4>Pages</h4>
			<a href="{{ site.url }}">Accueil</a>
			<a href="{{ site.url }}/bureau.html">Le Bureau de l'association</a>
			<a href="{{ site.url }}/da.html }}">La Direction Artistique</a>
			<a href="{{ site.url }}/about.html">A propos de nous</a>
			<a href="{{ site.url }}/actualites.html">Actualités</a>
			<h4>Catégories</h4>
			<a href="{{ site.url }}/categories/category1.html">Rouge!</a>
			<h4>Archives des actualités</h4>
			<a href="{{ site.url }}/archives.html">Archives</a>
		</nav>
		<div class="details"><b>{{site.title}}</b><p>Bienvenue sur le site de l'association Le Masque Productions !</p>
		</div>
	</div>
</div>
<div class="xs-12 imgBack textCenter vertCenter grow short" style='background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1) ), url({{ site.url }}/assets/img/header.svg)'>
</div>